<div class="container">
 
    
    <div class="card-body card ">
      <table class="table shadow-sm table-bordered table-hover text-center">
        <thead class="table-light">
          <tr>
            <th>Food</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let item of order.items" class="shadow-sm">
            <td>
              <a [routerLink]="'/food/' + item.food.id">
                <img [src]="item.food.imageUrl" alt="Food Image" class="img-thumbnail rounded-circle" style="width: 35px; height: 35px; object-fit: cover;">
              </a>
            </td>
            <td>{{ item.food.name }}</td>
            <td>{{ item.food.price | currency }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price | currency }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" class="text-end fw-bold">Total:</td>
            <td class="text-success fw-bold">{{ order.totalPrice | currency }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

